<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:include="fragments/header :: header" />
	
	<body>
		<header class="header" th:include="fragments/menu :: menu" />
		
			<div class="container">
				<div class="row">
			   		<div id="logout_form_container" class="col-md-6 col-md-offset-3 panel panel-default">
	
						<h1 class="form-title" th:text="#{logout.form.title}">Login</h1>
							
						<form id="logout_form" th:action="@{/logout}" method="post">
						
							<span th:text="#{logout.info}"> Do you want to close the current session? </span>
						
							<div class="logout_submit_btns modal-footer">
								<a type="button" class="btn logout_cancel_btn" th:href="@{/}" th:text="#{logout.form.cancel}" >Cancel</a>
								<button type="submit" class="btn btn-primary" th:text="#{logout.form.accept}">Accept</button>
						    </div>
						</form>			
			  		</div>
			 	</div>
			</div>
			
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	</body>
</html>