<div th:fragment="general">
	<!-- Global scripts -->
	<script type="text/javascript" th:src="@{/static/datatables/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/datatables/js/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/initialize.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/stomp-websocket/stomp.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</div>
